@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Chomsky;
  src: url("/static/chomsky.woff2");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-chomsky: "Chomsky";
  --color-blue-button: rgb(86, 123, 149);
  --color-blue-button-hvr: rgb(50, 104, 145);
}
